{% extends 'layout/site' %}

{% block content %}

	<section class="content wide">
	
		{% include 'partial/navigation' %}
		
		
		<div class="columns">
		
			<div class="profile">
			
				<div class="details">
					<span class="name">Ross Zurowski</span>
					<span class="education"><a href="http://design.yorku.ca/" target="_blank">YSDN</a> BDes <a href="#">2016</a></span>
				</div>
				
				<div class="description">
					{{ page.description | markdown | safe }}
				</div>
				
				<div class="version">
					V{{ site.version }}&ndash;{{ site.lastModified | date('ymd') }}
				</div>
	
			</div>
		
			<div class="friends">
				<h4>Friends</h4>
				{% if page.friends %}
				<ul>
				{% for friend in page.friends %}
					<li><a href="{{ friend.url }}" target="_blank">{{ friend.name }}</a></li>
				{% endfor %}
				</ul>
				{% endif %}
			</div>
		</div>
		
	</section>
	
{% endblock %}